<!DOCTYPE html>
<html>
<head>
<title>命题公式在线分析器</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<p><a href="/static/homepage.html">Return</a></p>

<h2>Reverse Poland Expression:</h2>
<p>{{reverse_poland}}</p>

<h2>Value Table:</h2>
<table style="width:100%">
<tr>
{%for name in arglist%}
<td>{{name}}</td>
{%endfor%}
<td>Expression Value</td>
</tr>

{%for row in value_table%}
<tr>
{%for v in row%}
<td>{{v}}</td>
{%endfor%}
</tr>
{%endfor%}

</table>

</body>
</html>