<!DOCTYPE html>
<html>
<head>
<title>命题公式在线分析器</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron" style="text-align:center;color:white;background-image: url(https://assets.lullabot.com/1413474840_matrix-wallpapers.jpg);background-repeat:repeat">
<h1>输入您想分析的命题公式吧!</h1> 
<p>您会得到其逆波兰表达式,真值表</p> 
</div>

<div class="container">
<div class="row">
<div class="col-sm-12">
<form class="form" role="form" method="GET" action="/search">
  <div class="form-group">
  	<label for="formula">请输入命题公式:</label>
    <input type="text" class="form-control" name="q" placeholder="输入命题公式,原子命题必须为英文字母或数字,合取词&,析取词|,否定词~,蕴涵词->,双条件词<->,允许使用括号" id="formula"></input>
  </div>
  <button type="submit" class="btn btn-primary">开始分析</button>
</form>
</div>
</div>
</div>

<br></br>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="panel panel-default">
  <div class="panel-heading">原公式</div>
  <div class="panel-body">{{origin_formula}}</div>
</div>
</div>
</div>

<br>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="panel panel-default">
  <div class="panel-heading">逆波兰表达式</div>
  <div class="panel-body">{{reverse_poland}}</div>
</div>
</div>
</div>
<br>

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="panel panel-default">
  <div class="panel-heading">真值表</div>
  <div class="panel-body">
  <table class="table table-bordered">
  <tr>
  {%for name in arglist%}
  <td>{{name}}</td>
  {%endfor%}
  <td>Expression Value</td>
  </tr>

  {%for row in value_table%}
  <tr>
  {%for v in row%}
  <td>{{v}}</td>
  {%endfor%}
  </tr>
  {%endfor%}

  </table>
  </div>
</div>
</div>
</div>
<br>

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="panel panel-default">
  <div class="panel-heading">极小项</div>
  <div class="panel-body">
  <table class="table table-bordered">
  <tr>
  {%for name in true_list%}
  <td>{{name}}</td>
  {%endfor%}
  </tr>
  </table>
  </div>
</div>
</div>
</div>
<br>

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="panel panel-default">
  <div class="panel-heading">极大项</div>
  <div class="panel-body">
  <table class="table table-bordered">
  <tr>
  {%for name in false_list%}
  <td>{{name}}</td>
  {%endfor%}
  </tr>
  </table>
  </div>
</div>
</div>
</div>

</body>
</html>